.home-link {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  margin: 1em;
  visibility: hidden;
}
.home-link:before {
  display: inline-block;
  background-color: #000;
  background-color: rgba(0,0,0,.4);
  color: white;
  padding: 1em;
  visibility: visible;
  border-radius: .5em;
  cursor: pointer;
  font-family: 'Numans', sans-serif;
  content: 'L.R';
}
.initial-message {
  background-image: url(../images/home-bg-sm.jpg);
  background-size: cover;
  background-position: 50% 10%;
  padding-top: 17.5%;
  padding-right: 40%;
  padding-left: 1em;
  padding-bottom: 2%;
  color: white;
  margin: 0;
  font-family: 'Rancho', cursive;
  font-size: 1.25em;
  text-shadow: .1em .1em .2em black;
}
.content {
  padding: 1em;
  line-height: 1.5;
  font-family: 'Gafata', sans-serif;
  overflow: hidden;
  max-width: 50ch;
  margin: 0 auto;
  text-align: justify;
}
.home-page-menu__header {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
}
.home-page-menu ul {
  padding: 0;
}
.home-page-menu li {
  float: left;
  display: block;
  text-align: center;
}
.home-page-menu li:nth-child(3n+2) {
  float: right;
}
.home-page-menu li:nth-child(3) {
  float: none;
  clear: both;
}
.home-page-menu__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #699;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  line-height: 5.3; /* 6em - .35em * 2 (borders) */
  display: inline-block;
  border: .35em solid rgba(255,255,255,0.1);
  transition: .5s;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
}
.home-page-menu__link:hover,
.home-page-menu__link:focus {
  background-color: #122;
  border-color: rgba(255,255,255,0.2);
}
@media (min-width: 601px) {
  body {
    font-size: 120%;
  }
  .initial-message {
    background-image: url(../images/home-bg-md.jpg);
    font-size: 1.5em;
  }
}
@media (min-width: 1025px) {
  .initial-message {
    background-image: url(../images/home-bg-lg.jpg);
    font-size: 1.75em;
  }
  .content {
    max-width: 100ch;
  }
  .about,
  .home-page-menu {
    width: 47.5%;
    box-sizing: border-box;
  }
  .about {
    padding: 0 2em;
    text-indent: 2ch;
    float: left;
  }
  .home-page-menu {
    float: right;
  }
  .home-page-menu__header {
    margin-top: .5em;
  }
}
